.sconsign.dblite
*.pyc
*.o
*.os
*_wrap.c
*.so
*.a
*_pb2.py
*.pb-c.c
*.pb-c.h
shared/serialport.py
motors/service/motors
ahrs/service/ahrs
gpsp/service/gpsp
gpstime/service/gpstime
autopilot/service/autopilot
autopilot/tools/acc_mag_cal/acc_mag_dump
remote/service/remote
ofs/service/ofs
remote/tests/sbus_print_test
display/shared/pyssd1306.py
arduino/service/arduino
rc_cal/service/rc_cal
acc_adc_cal/service/acc_adc_cal
gyro_cal/service/gyro_cal
mag_adc_cal/service/mag_adc_cal
rate_ctrl/service/rate_ctrl
arduino/firmware/build-uno/*
!arduino/firmware/build-uno/firmware.hex
