.sconsign.dblite
*.pyc
*.o
*.os
*_wrap.c
*.so
*.a
*_pb2.py
*.pb-c.c
*.pb-c.h
shared/serialport.py
gpsp/service/gpsp
gpstime/service/gpstime
autopilot/service/autopilot
autopilot/tools/acc_mag_cal/acc_mag_dump
remote/service/remote
ofs/service/ofs
remote/tests/sbus_print_test
display/shared/pyssd1306.py
arduino/service/arduino
rc_cal/service/rc_cal
arduino/firmware/build-uno/*
!arduino/firmware/build-uno/firmware.hex
