.sconsign.dblite
*.pyc
*.o
*.os
*_wrap.c
*.so
*.a
*_pb2.py
*.pb-c.c
*.pb-c.h
gpsp/service/gpsp
autopilot/service/autopilot
autopilot/tools/acc_mag_cal/acc_mag_dump
remote/service/remote
display/shared/pyssd1306.py
arduino/service/arduino
